* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--wallpaper-clr);
  width: 100dvw;
  height: 100dvh;
  padding: 3vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5vw;
  background-color: var(--dark-green);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 231, 137, 0.5);
  border-radius: 1vw;
  border: 0.1em solid var(--dark-green);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 231, 137, 0.3);
}

.all {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.container {
  width: 100%;
  min-width: min-content;
  height: auto;
  background-color: var(--container-clr);
  border-radius: var(--default-bdr-radius);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
  padding: 2em;
  display: flex;
  gap: 1.5em; /* Gap between board and results */
}

.footer {
  color: var(--rice-white);
  text-align: center;
  text-shadow: 0px 1px 0 var(--black);
  font-size: 1.15em;
}

@media (max-width: 1050px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
