.form {
  display: flex;
  max-width: max-content;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em; /* Gap between board and solve button */
}

/* Board Components */
.board {
  width: 30em;
  height: 30em;
  background-color: var(--dark-green);
  border-radius: var(--default-bdr-radius);
  border: 6px solid var(--light-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}

.board-row {
  display: flex;
  gap: 0.75em;
}

.box-input {
  width: 1.75em;
  height: 1.75em;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  font-size: 3.5em;
  font-weight: bold;
  color: var(--black);
  text-shadow: 0px 1px 0 #fff; /* Engraved look */
  background: #aae57a url("./assets/wood.jpg");
  background-size: cover;
  filter: sepia(0.2) saturate(1.8) hue-rotate(45deg); /* Yellow/green tint */
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.2);
  border: 0.1px solid rgba(255, 255, 255, 0.5);
  border-radius: var(--default-bdr-radius);
}

.solve-btn {
  font-size: 4em;
  padding: 0.3em 0.6em;
  background-color: var(--light-green);
  border-radius: 1rem;
  font-weight: bold;
  color: var(--black);
  text-shadow: 0px 1px 0 #fff; /* Engraved text look */
  box-shadow: 0 6px rgba(144, 231, 137, 0.5);
  border: none;
  cursor: pointer;
}

.solve-btn:active {
  box-shadow: none;
  transform: translateY(6px);
}

@media (max-width: 570px) {
  .board {
    width: 20em;
    height: 20em;
    gap: 0.5em
  }

  .board-row {
    gap: 0.5em
  }

  .box-input {
    width: 1.2em;
    height: 1.2em;
  }

  .solve-btn {
    font-size: 3em;
  }
}
