.form {
  display: flex;
  max-width: max-content;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em; /* Gap between board and solve button */
}

/* Board Components */
.board {
  width: 30em;
  height: 30em;
  background-color: var(--dark-green);
  border-radius: var(--default-bdr-radius);
  border: 6px solid var(--light-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}

.board-row {
  display: flex;
  gap: 0.75em;
}

.box-input {
  width: 1.75em;
  height: 1.75em;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 0px 1px 0 #fff; /* Engraved look */
  background-image: url("./assets/wood.jpg");
  background-size: cover;
  filter: sepia(0.3) saturate(1.8) hue-rotate(45deg); /* Yellow tint */
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.2);
  border: 0.1px solid rgba(255, 255, 255, 0.5);
  border-radius: var(--default-bdr-radius);
}

.solve-btn {
  font-size: 4em;
  padding: 0.2em  0.4em;
  background-color: var(--light-green);
  border-radius: 1rem;
  font-weight: bold;
  text-shadow: 0px 1px 0 #fff; /* Engraved look */
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}
