:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --wallpaper-clr: #5f865b;
  --container-clr: #73a570;
  --dark-green: #455d44;
  --light-green: #90e789;
  --rice-white: #FAF5EF;
  --black: #020403; /* Obsidian Black */
  --default-bdr-radius: 0.75rem;
}
